.question3Page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.questionTextArea {
  display: flex;
  align-items: flex-start;
  font-size: .85rem;
  line-height: 20px;
  text-align: justify-all;
  font-family: "myFirstFont";
  color:  lighten(#244D68, 10%);
  width: 80vw;
  max-width: 800px;
  height: auto;
  min-height:30px;
  max-height: 60px;
  padding: 5px;
  border: 1px solid #244D68;
  border-radius: 5px;
  margin-bottom: 10px;
  background: lighten(#244D68, 70%);
}
.questionsForQuiz {
  width: 80vw;
  max-width: 1000px;
  font-size: .95rem;
  line-height: 25px;
  text-align: justify-all;
  margin-bottom: 5vh;
  font-family: "myFirstFont";
}
.answerOptionsCandidats{
  display: flex;
  font-size: .85rem;
  line-height: 20px;
  text-align: justify-all;
  align-items: center;
  justify-content: center;
  font-family: "myFirstFont";
  color: rgba(77, 127, 164, 0.9);
  border-radius: 5px;
  width: 80vw;
  max-width: 800px;
  height: 40px;
  max-height: 40px;
  margin-top: 10px;
  input {
    height: 30px;
    max-height: 35px;
    border-radius: 5px;
    max-width: 11.5%;
    margin-left: 3%;
    color:  lighten(#244D68, 10%);
    text-align: center;
    border: none;
    border-bottom: 1px solid lighten(#244D68, 10%);
    padding: 2px;
    background: lighten(#244D68, 70%);
    &::placeholder {
      color: rgba(77, 127, 164, 0.6);
      font-family: myFirstFont;
      font-size: 12px;
    }
  }
  button {
    height: 30px;
    max-height: 40px;
    width: 10%;
    border-radius: 5px;
    background: lighten(#244D68, 10%);
    margin-left: 10px;
    color: white;
    cursor: pointer;
  }
}