.finalPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.finalDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  background: rgba(71, 130, 169, 0.6);
}

.finalText{
  width: 80vw;
  height: auto;
  max-width: 800px;
  font-size: .85rem;
  line-height: 23px;
  text-align: justify-all;
  font-family: "myFirstFont";
  padding: 30px;
  color: white;
}

.openCommentDiv{
  color:  white;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 15px;
}

.commentAtTheEnd {
  display: flex;
  align-items: flex-start;
  font-size: .85rem;
  line-height: 20px;
  text-align: justify-all;
  font-family: "myFirstFont";
  color:  lighten(#244D68, 10%);
  width: 80vw;
  max-width: 800px;
  height: auto;
  min-height:30px;
  max-height: 60px;
  padding: 5px;
  border: 1px solid #244D68;
  border-radius: 5px;
  margin-bottom: 10px;
  background: lighten(#244D68, 70%);
}

.submitFinalComment {
  border-radius: 5px;
  color: white;
  background: lighten(#244D68, 5%);
  height: 45px;
  width: 150px;
  font-size: .70rem;
  cursor: pointer;
}

.noFinalComment {
  margin-left: 15px;
  border-radius: 5px;
  color: white;
  background: lighten(#244D68, 5%);
  height: 45px;
  width: 150px;
  font-size: .70rem;
  cursor: pointer;
}