.question2Page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .questionsBuckets {
    width: 80vw;
    max-width: 1000px;
    font-size: .95rem;
    line-height: 25px;
    text-align: justify-all;
    margin-bottom: 5vh;
    font-family: "myFirstFont";
  }
   textarea {
     display: flex;
     align-items: flex-start;
     font-size: .85rem;
     line-height: 20px;
     text-align: justify-all;
     font-family: "myFirstFont";
     color: rgba(77, 127, 164, 0.9);
     border: 1px solid #244D68;
     border-radius: 5px;
     width: 80vw;
     max-width: 800px;
     height: auto;
     min-height: 200px;
     max-height: 500px;
     padding: 10px;
     background: lighten(#244D68, 70%);
  }
  .answerLittersWater {
    display: flex;
    font-size: .85rem;
    line-height: 20px;
    text-align: justify-all;
    align-items: center;
    justify-content: center;
    font-family: "myFirstFont";
    border-radius: 5px;
    width: 80vw;
    max-width: 800px;
    height: 40px;
    margin-top: 10px;
    & > input {
      margin-left: 5px;
      margin-right: 5px;
      border: none;
      border-radius: 5px;
      justify-content: center;
      font-family: "myFirstFont";
      color:  lighten(#244D68, 10%);
      border-bottom: 1px solid lighten(#244D68, 10%);
      background: lighten(#244D68, 70%);
      font-size: .85rem;
      text-align: center;
      max-width: 40px;
    }
    .submitQuestionsBuckets {
      margin-left: 30px;
      border: 2px solid rgba(77, 127, 164, 0.4);
      border-radius: 5px;
      color: white;
      background: lighten(#244D68, 10%);
      height: 30px;
      width: 100px;
      font-size: .70rem;
      cursor: pointer;
    }
  }
}