$redPastel: #BE4D4D;
$dark-gray: rgba(0,0,0,0.3);
$text-color: #F29F4E;
$text-dark: rgba(77, 127, 164, 1);
$background: rgba(77, 127, 164, 1);
$background-lighter: rgba(77, 127, 164, 0.35);


.riddlePage {
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    height: 50px;
    width: 150px;
    background: #4d7fa4;
    border-radius: 5px;
    margin: 2vh;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  .topClue {
    width: 80vw;
    max-width: 1000px;
    font-size: .95rem;
    line-height: 25px;
    text-align: justify-all;
    margin-bottom: 5vh;
    font-family: "myFirstFont";
  }
  .allClues {
    display: flex;
    font-size: .85rem;
    line-height: 22px;
    text-align: justify-all;
    font-family: "myFirstFont";
    color: rgba(77, 127, 164, 0.8);
    max-height: 28vh;
    .leftClues {
      height: 28vh;
      width: 40vw;
      max-width: 480px;
      div{
        border-bottom: 2px solid $background-lighter;
        text-align: left;
        min-height: 22px;
        span {
          cursor: pointer;
        }
      }
    }
    .rightClues {
      height: 28vh;
      margin-left: 2vw;
      width: 40vw;
      max-width: 600px;
      div{
        border-bottom: 2px solid $background-lighter;
        text-align: left;
        min-height: 22px;
        span{
          cursor: pointer;
        }
      }
    }
  }
}


.crossed {
  text-decoration: line-through;
}

.houses {
  span {
    border-radius: 5px;
  }
  }

.riddle {
  border-radius: 5px;
  button {
    &:hover {
      background: $background;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-width: 20px;
    & > :nth-child(1) {
      background: $background-lighter;
    }
    & > :nth-child(2) {
      background: var(--col1);
    }
    & > :nth-child(3) {
      background: var(--col2);;
    }
    & > :nth-child(4) {
      background: var(--col3);;
    }
    & > :nth-child(5) {
      background: var(--col4);;
    }
    & > :nth-child(6) {
      background: var(--col5);;
    }
    span, input, select  {
      margin: 3px;
      width: 18vw;
      max-width: 150px;
      height: 50px;
      display: flex;
      border: none;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1rem;
      color: white;
      font-family: "myFirstFont";
    }
  }
}

select {
  cursor: pointer;
}