
.adminLogin {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100000;
  background: rgba(0,0,0,.8);
  .passwordForm {
    height: 70vh;
    width: 70vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(77, 127, 164,.9);
    border-radius: 20px;
    input {
      text-align: center;
      color: rgba(77, 127, 164,1)
    }
    .passwordButton{
      margin: 5px;
      width: auto;
      min-width: 90px;
      border-radius: 5px;
      height: 30px;
      background: lighten(#4d7fa4, 10%);
      cursor: pointer;
      color: white;
    }
  }
  input {
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: none;
  }
}


.adminPage {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 45vh 55vh;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(77, 127, 164,1);
}
.questionsInputsAdmin {
  display: flex;
  grid-row: 1/2;
  grid-column: 2/3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "myFirstFont";
  border-radius: 5px;
  background: rgba(77, 127, 164,1);
  padding-top: 0px;
  border: 2px solid rgba(77, 127, 164,.9);
  width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 45vh;
  .upload-btn-wrapper {
    overflow: hidden;
    display: inline-block;
    height: 100%;
  }

  #uploader {
    grid-column: 2/3;
    grid-row: 1/-1;
    border-radius: 5px;
    border: 2px solid lighten(#4d7fa4, 10%);
    background: lighten(#4d7fa4, 40%);
    height: 100%;
  }

  #uploaderBackground {
    grid-column: 4/5;
    grid-row: 1/-1;
    border-radius: 5px;
    border: 2px solid lighten(#4d7fa4, 10%);
    background: lighten(#4d7fa4, 40%);
    max-width: 150px;
    height: 100%;
  }

  .upload-btn-wrapper input[type=file] {
    opacity: 1;
  }

  button {
    width: auto;
    min-width: 90px;
    border-radius: 5px;
    height: 25px;
    background: lighten(#4d7fa4, 10%);
    cursor: pointer;
    color: white;
  }
  input {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    border-radius: 5px;
    height: 25px;
    margin-right: 1%;
    font-family: "myFirstFont";
    border: 2px solid rgba(77, 127, 164,.1);
    color: rgba(77, 127, 164,1);
  }
}

.questionDivAdmin {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1200px 1fr;
  span {
    color: white;
    border-radius: 5px;
    background: lighten(#4d7fa4, 10%);
    cursor: pointer;
    font-family: "myFirstFont";
    border: none;
  }
  .topBlock {
    margin-top: 10px;
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: .58em;
    .graphImageAdmin {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding:6% 1%;
      border-radius: 0px 10px 10px 0px;
     background: lighten(#4d7fa4, 10%);
    }
    .questionTextInfo {
      display: grid;
      grid-template-rows: 1fr 30px 30px 30px 30px 30px 1fr;
      grid-template-columns: 90px 600px;
      grid-gap: 4px;
      height: 100%;
      width: 100%;
      grid-row: 1 / -1;
      grid-column: 1/ 2;
      background: lighten(#4d7fa4, 10%);
      border-radius:10px 0px 0px 10px;
      .fifthLine {
        grid-row: 6/7;
        grid-column: 1/-1;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: 90px 90px 90px 90px 1fr 1fr 1fr;
        grid-template-rows: 30px;
        justify-content: center;
        align-items: center;
        .uploadFileInput {
          grid-column: 1/2;
          grid-row: 1/-1;
          height: 100%;
          color: white;
          border-radius: 5px;
          background: lighten(#4d7fa4, 10%);
          cursor: pointer;
          width: 90px;
          opacity: 0;
          z-index: 2;
        }
        .uploadGraph {
          height: 100%;
          width: 100%;
          grid-column: 1/2;
          grid-row: 1/-1;
          border-radius: 5px;
          z-index: 1;
          border-bottom: 2px solid rgba(255,255,255,.2);
        }
        .backgroungInput {
          grid-column: 3/4;
          grid-row: 1/-1;
          height: 100%;
          width: 100%;
          color: white;
          border-radius: 5px;
          background: lighten(#4d7fa4, 10%);
          cursor: pointer;
          border: none;
          opacity: 0;
          z-index: 100;
        }
        .backgroungGraphs {
          grid-column: 3/4;
          grid-row: 1/-1;
          height:100%;
          width: 100%;
          border-radius: 5px;
          z-index: 1;
          border-bottom: 2px solid rgba(255,255,255,.2);
        }
        .selectGraph {
          color: white;
          border-radius: 5px;
          min-width: 200px;
          background: lighten(#4d7fa4, 10%);
          cursor: pointer;
          font-family: "myFirstFont";
          border: none;
          border-bottom: 2px solid rgba(255,255,255,.2);
          height: 100%;
        }
        progress {
          height: 100%;
          width: 100%;
          border-bottom: 2px solid rgba(255,255,255,.2);
          margin-bottom: 2px;
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "myFirstFont";
        font-size: small;
        text-decoration: none;
        color: white;
        max-width: 50px;
        border-radius: 5px;
        flex: 1;
      }

      .questionIdAdmin {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom:2px solid rgba(255,255,255,0.2);
        font-size: .90em;
      }
      .question-group {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 5px;
        border-bottom:2px solid rgba(255,255,255,0.2);
      }
      .points-value {
        grid-column: 1/2;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 5px;
        border-bottom:2px solid rgba(255,255,255,0.2);
      }
      .loadGraph {
        grid-column: 1/2;
        grid-row: 5/6;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom:2px solid rgba(255,255,255,0.2);
      }

      .question-textAdmin{
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
      }
      .correctAnswerAdmin {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
      }
      .graphAdmin {
        grid-column: 2/3;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
      }
      .graphUrlAdmin {
        grid-column: 2/3;
        grid-row: 5/6;
        width: 100%;
        height: 100%;
      }
      select {
        background: lighten(#4d7fa4, 10%);
        cursor: pointer;
        color: white;
        text-align: center;
      }
    }
  }
}

.optionsSettings {
  grid-column: 2/3;
  grid-row: 2/-1;
  font-family: "myFirstFont";
  background: lighten(#4d7fa4, 10%);
  border-radius: 5px;
  .onlyOptions {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 0px;
    grid-template-row: 30px 30px 30px;
    grid-gap: 4px;
    font-family: "myFirstFont";
    padding-top: 4px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-family: "myFirstFont";
      border-bottom:2px solid rgba(255,255,255,0.2);
      font-size: .6em;
    }
    .questionsTotal{
      font-size: .58em;
    }
    input {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
      border-radius: 5px;
      height: 30px;
      font-family: "myFirstFont";
      border: 2px solid rgba(77, 127, 164,.1);
      color: rgba(77, 127, 164,1);
    }
  }
  .onlySelectButtons {
    width: 99.7%;
    height: auto;
    display: grid;
    margin-right: 0;
    padding-right: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px;
    grid-gap: 4px;
    grid-row: 3/4;
    grid-column: 1/-1;
    cursor: pointer;
    color: white;
    text-align: center;
    font-family: "myFirstFont";
    border: none;
    border-radius: 5px;
  }
  select {
    background: lighten(#4d7fa4, 10%);
    cursor: pointer;
    color: white;
    text-align: center;
    border: none;
    font-family: "myFirstFont";
    border-radius: 5px;
    border-bottom:2px solid rgba(255,255,255,0.2);
    text-align: center;
    font-size: .58em;
  }

  button {
    boreder: none;
    height: 100%;
    border-bottom:2px solid rgba(255,255,255,0.2);
    font-size: .58em;
  }
}


.resultsBottom {
  display: flex;
  grid-row: 2/3;
  grid-column: 2/3;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .resultsListAdmin{
    font-family: "myFirstFont";
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: rgba(77, 127, 164,0.8);
    overflow: scroll;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 30px;
      font-size: .7em;
      list-style: none;
      flex-direction: row;
      height: 30px;
      color: white;
      border-radius: 4px;
      border-bottom: 2px solid rgba(255,255,255,0.2);
      overflow: hidden;
      line-height: 30px;
      font-family: "myFirstFont";
      &:nth-child(odd) {background: lighten(#4d7fa4, 10%)};
      &:nth-child(even) {background: lighten(#4d7fa4, 10%)};
      span {
        &:nth-child(1) {
          width: 10%;
          padding-left: 0;
          max-height: 30px;
          margin: 5px;
          font-family: "myFirstFont";
        }
        &:nth-child(2) {
          width: 45%;
          overflow: hidden;
          max-height: 30px;
          border: rgba(255,255,255,1);
          margin: 5px;
          font-family: "myFirstFont";
        }
        &:nth-child(3) {
          width: 15%;
          max-height: 30px;
          overflow: hidden;
          margin: 5px;
          font-family: "myFirstFont";
        }
        &:nth-child(4) {
          width: 20%;
          overflow: hidden;
          max-height: 30px;
          margin: 5px;
          font-family: "myFirstFont";
        }
        &:nth-child(5) {
          width: 10%;
          margin: 5px;
          font-family: "myFirstFont";
        }
        text-align: center;
      }
      .action {
        button{
          border-radius: 5px;
          margin: 5px;
          height: 25px;
          background: transparent;
          cursor: pointer;
          color: white;
          font-size: .7em;
          padding: 2px;
          font-family: "myFirstFont";
          border-bottom: 2px solid rgba(255,255,255,.2);
          &:hover {
            background: white;
            color: #4d7fa4;
            transition:all .5s;
          }
        }
      }
    }
  }
}



.selectDatabase {
  border-radius: 5px;
  border: 0px transparent;
  height: 30px;
  width: 150px;
  margin-bottom: 5px;
  background: lighten(#4d7fa4, 10%);
  cursor: pointer;
  color: white;
  font-size: .6em;
  text-align: center;
  border-bottom: 2px solid rgba(255,255,255,0.2);
}




// admin page for Team questions starts here --------------------------------------------------------------------------------------

.adminPageTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
  background: white;
}

.topLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.questionsInputsTeam {
  margin-top: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "myFirstFont";
  border-radius: 5px;
  background: rgba(77, 127, 164,1);
   width: 100vw;
  padding-top: 2vh;
  border: 2px solid rgba(77, 127, 164,.9);

  .upload-btn-wrapper {
    position: relative;
    top: 18px;
    overflow: hidden;
    display: inline-block;
  }

  #uploader {
       border-radius: 5px;
       border: 2px solid rgba(77, 127, 164,.9);
       position: relative;
       top: 5px;
       background: lighten(#4d7fa4, 40%);
       height: 25px;
     }

  #uploaderBackground {
    border-radius: 5px;
    border: 2px solid rgba(77, 127, 164,.9);
    position: relative;
    top: 5px;
    background: lighten(#4d7fa4, 40%);
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .question-text{
    width: 30vw;
  }

  .graphImageTeam {
    width: 300px;
    height: 100px;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 5px;
  }

  .selectGraphTeam {
    color: white;
    border-radius: 5px;
    min-width: 200px;
    background: lighten(#4d7fa4, 10%);
    cursor: pointer;
    font-size: .6em;
    font-family: "myFirstFont";
    border: none;
    border-bottom: 2px solid rgba(255,255,255,.2);
    height: 23px;
    margin: 5px;
    text-align: center;
  }

  a {
    font-family: "myFirstFont";
    font-size: small;
    text-decoration: none;
    color: whitesmoke;
    min-width: 100px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 12px;
    position: relative;
    right: 0px;
  }

  button {
    width: 100px;
    border-radius: 5px;
    height: 23px;
    background: lighten(#4d7fa4, 10%);
    cursor: pointer;
    margin: 10px;
    color: white;
  }
  input {
    width: 15vw;
    text-align: center;
    margin-bottom: 1vh;
    border-radius: 5px;
    height: 30px;
    margin-right: 1vw;
    font-family: "myFirstFont";
    border: 2px solid rgba(77, 127, 164,.1);
    color: rgba(77, 127, 164,1);
  }
}

.questionDiv {
  span {
    color: white;
    padding: 8px;
    margin-right: 2px;
    position: relative;
    border-radius: 5px;
    min-height: 30px;
    background: lighten(#4d7fa4, 10%);
    cursor: pointer;
    font-size: .6em;
    font-family: "myFirstFont";
  }
}



.topImages {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30vh;
  width: 100vw;
  margin-top: 1vh;
  img {
    height: 30vh;
    width: 40%;
    border: 2px solid ghostwhite;
    border-radius: 5px;
    margin: 2vw;
  }
}

.bottomImages {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30vh;
  width: 100vw;
  margin-bottom: 3vh;
  img {
    height: 30vh;
    width: 40%;
    border: 2px solid ghostwhite;
    border-radius: 5px;
    margin: 2vw;
  }
}