@import 'firstStage/body-container';
@import 'firstStage/login';
@import "firstStage/loginUi";
@import 'firstStage/answerOptions';
@import 'firstStage/resultList';
@import 'firstStage/circularbar';
@import 'secondStage/secondStep';
@import "secondStage/questionBucket";
@import "secondStage/candidatsQuestion";
@import "adminResults/candidatesAdmin";
@import "adminResults/ourCommentHidden";
@import "adminResults/candidatesInfoHidden";
@import "adminResults/candidatesSecondResultHidden";
@import "adminResults/hiddenElemnt";
@import "adminResults/questionFromCandidate";
@import "adminResults/commentFromCandidate";
@import "adminResults/allAnswersPage";
@import "secondStage/finalPage";
@import "secondStage/progressPages/progressQuiz";
@import "secondStage/progressPages/progressSecond";
@import "secondStage/progressPages/progressInterview";
@import "secondStage/progressPages/progressTraining";
@import 'adminQuestions/admin';

$redPastel: #BE4D4D;
$blue: rgba(77, 127, 164, 1);
$yellow: #F29F4E;
$pastel-green: #00B3A0;
$dark-gray: rgba(38, 50, 56, 0.3);
$text-color: #F29F4E;
$text-dark: rgba(77, 127, 164, 1);
$background: rgba(77, 127, 164, 1);
$background-lighter: rgba(77, 127, 164, 0.4);
$azul: #6FD9D5;
$yellow-light: lighten(#FEF65B, 10%);
$dark-gray: rgba(38, 50, 56, 0.6);
$red-cla: #FF2A47;
$orange-cla: #FB5F21;
$blue-dark-cla:#1688CB;
$blue-azul-cla: #6FD9D5;
$yellow-claudio: #F3D42C;
$green-light-cla: #A0D834;
$blue-funky-cla: #18CFA2;
$smoke-white-cla: #E2E8E7;
$blue-dark-logo: #244D68;



* {
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


:root {
  --col1: rgba(77, 127, 164, 0.4);
  --col2: rgba(77, 127, 164, 0.4);
  --col3: rgba(77, 127, 164, 0.4);
  --col4: rgba(77, 127, 164, 0.4);
  --col5: rgba(77, 127, 164, 0.4);
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.5);
}

:global .react-datepicker__navigation--next--with-time:not(:global .react-datepicker__navigation--next--with-today-button) {
  right: 128px;
}


.loadingGifPage{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  .cubeLoaderGif{
    width: 128px;
    height: 128px;
  }
}

.react-datepicker__input-container {
  border-radius: 5px;
  color: #4d7fa4;
  margin-right: 10px;
  input {
    min-width: 170px;
    border-radius: 5px;
    border: none;
    color: lighten(#4d7fa4,10%);
    min-height: 30px;
    text-align: center;
  }
}

.react-datepicker__time-container {
  width: 120px;
  div {
    min-width: 100%;
    ul {
      min-width: 100%;
      padding:  0 0 0 10px;
      li {
      }
    }
  }
}

.react-datepicker__time-list{
  li {
    color: lighten(#4d7fa4,10%);
  }
}

.react-datepicker-popper{
  color: lighten(#4d7fa4,10%);
  z-index: 100000;
}
.react-datepicker__header{
  div{
    color: lighten(#4d7fa4,10%);
  }
}

.react-datepicker__month{
  div{
    color: lighten(#4d7fa4,10%);
  }
}

@font-face {
  font-family: myFirstFont;
  src: url(../content/Avenir/AvenirLTStd-Roman.otf);
}

div.btn.alert-ok {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.btn.confirm-ok {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  html {
    font-family: "myFirstFont";
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $text-dark;
    background: url("../content/bg.jpg") no-repeat right;
    background-size: contain;
  }

  div.amfe-modal-node.amfe-alert {
    position: absolute;
    top: 40vh;
    left: 50vw;
    width: 25vw;
    height: 25vh;
    border-radius: 10px;
    text-align: justify-all;
    .content {
      min-height: 20vh;
      font-size: 1em;
      line-height: 25px;
    }
    .btn-group {
      cursor: pointer;
      font-size: 1em;
      min-height: 20%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      div.btn.alert-ok {
        min-height: 100%;
        min-width: 100%;
      }
    }
  }

  div.amfe-modal-node.amfe-confirm {
    position: absolute;
    top: 40vh;
    left: 50vw;
    width: 25vw;
    height: 25vh;
    border-radius: 10px;
    .content {
      min-height: 20vh;
      font-size: 1em;
    }
    .btn-group {
      cursor: pointer;
      font-size: 1em;
      min-height: 20%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      div.btn.alert-ok {
        min-height: 100%;
        min-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-family: "myFirstFont";
    font-weight: 200;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $text-dark;
    background: url("../content/bg.jpg") no-repeat bottom;
    background-size: contain;
  }



  div.amfe-modal-node.amfe-alert {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    text-align: justify-all;
    .content {
      min-height: 80%;
      font-size: 1em;
      line-height: 25px;
    }
    .btn-group {
      cursor: pointer;
      font-size: 1em;
      min-height: 20%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      div.btn.alert-ok {
        min-height: 100%;
        min-width: 100%;
      }
    }
  }

  div.amfe-modal-node.amfe-confirm {
    border-radius: 10px;
    .content {
      font-size: 1em;
    }
    .btn-group {
      cursor: pointer;
      font-size: 1em;
      min-height: 20%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      div.btn.alert-ok {
        min-height: 100%;
        min-width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1001px) {
  .progressPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(150deg, $blue-dark , rgba(71, 130, 169, 0.8));
  }

  div.progressLogo {
    width: 100%;
    height: 20%;
    max-height: 200px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .logosSmall {
      height: 60%;
      min-height: 40px;
      max-height: 50px;
      width: auto;
      opacity: .2;
    }
    img {
      height: auto;
      max-height: 120px;
      width: auto;
      max-width: 500px;
    }
  }

  .progressPageDivs {
    width: 100%;
    height: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: myFirstFont;
    img{
      max-height: 32px;
      max-width: 32px;
    }
    > div {
      border-radius: 25%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .progressPage {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(150deg, $blue-dark , rgba(71, 130, 169, 0.7));
  }

  .progressLogo{
    width: 100%;
    height: 20%;
    min-height: 100px;
    max-height: 150px;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 8fr 2fr;
    margin-bottom: 2vh;
    .logosSmall{
     display: none;
    }
    img{
      height: auto;
      max-height: 80%;
      width: auto;
      max-width: 400px;
    }
  }

  .progressPageDivs {
    padding-top: 20px;
    width: 100%;
    min-height: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: myFirstFont;
    img{
      max-height: 32px;
      max-width: 32px;
      transform: rotate(90deg);
      margin-bottom: 8px;
    }
    > div {
      border-radius: 25%;
      margin-bottom: 10px;
    }
  }
}


@media only screen and (max-width: 550px) {
  .progressLogo{
    max-height: 150px;
    img{
      max-width: 300px;
    }
  }
}


@media only screen and (max-width: 1500px) {


}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 450px) {
}

