.answerOptions {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  min-height: 180px;
  height: 13vh;
  max-height: 250px;
  width: 100vw;
  max-width: 1200px;
  grid-gap: 1vw;
  margin-bottom: 3vh;
  padding-top: 2vh;
  & > div {
    min-height: 10vh;
    min-width:  8vw;
    width: 100%;
    font-family:  "myFirstFont";
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.2s;
    cursor: pointer;
    box-shadow: inset 0px 3px 10px  rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1);
    input[type=checkbox]{
      display: none;
    }
    &:hover {
      background: rgba(77, 127, 164,1);
      color: #F6C574;
    }
  }
}

.checked {
  background: rgba(77, 127, 164,1);
  color: rgb(255, 255, 255);
  border: 2px solid  rgba(77, 127, 164,1);
}

.hlLogin {
  background: rgba(77, 127, 164,1);
  color: rgb(255, 255, 255);
}

.option1 {
  grid-column: 1/3;
}

.option2 {
  grid-column: 3/5;
}

.option3 {
  grid-column: 5/7;
}

.option4 {
  grid-column: 7/9;
}

.option5 {
  grid-column: 9/11;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .answerOptions {
    font-size: .7em;
    max-width: 100vw;
    max-height: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .questionAndOptionsDiv{
    width: 100%;
    margin: 0;
  }
  .answerOptions {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 2vw;
    width: 100%;
    max-height: 100px;
    padding: 0 10px 0 10px;
    margin-bottom:30px;
    position: relative;
    bottom: 20px;
  }
  .option1 {
    grid-row: 1/6;
    grid-column: 1/6;
    max-height: 70%;
  }

  .option2 {
    grid-row: 1/6;
    grid-column: 6/11;
    max-height: 70%;
  }

  .option3 {
    grid-row: 1/6;
    grid-column: 11/-1;
    max-height: 70%;
  }

  .option4 {
    grid-row: 6/-1;
    grid-column: 3/8;
    max-height: 70%;
  }

  .option5 {
    grid-row: 6/-1;
    grid-column: 8/13;
    max-height: 70%;
  }
}