@media screen and (max-width: 1200px) {
  .body-container {
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (min-width: 1200px) {
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
}
//question element starts here ----------------------------------------------------------------------

.questionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 52vh;
  position: relative;
  bottom: 3vh;
}

.fullQuestion {
  font-family:  "myFirstFont";
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: justify;
  font-size: 1em;
  height: 25vh;
  min-height: 180px;
  max-height: 300px;
  max-width: 1200px;
  overflow: auto;
  background: transparent;
  padding: 0 5px;
}

.graphQuestion {
  height: 320px;
  width: 90vw;
  max-width: 960px;
}

.graphImage {
  background: rgba(255,255,255,0.6);
  height:100%;
  width: 100%;
}


//question element ends here ----------------------------------------------------------------


.remainingTime{
  background: lighten(rgba(77, 127, 164,1),5%);
  border-radius:  100%;
  height: 16vh;
  width: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  "myFirstFont";
  color: #F6C574;
  font-size: 120%;
}

.questionNumber{
  background: lighten(rgba(77, 127, 164,1),5%);
  border-radius:  100%;
  height: 16vh;
  width: 16vh;
  display: flex;
  margin: 0 2vw;
  justify-content: center;
  align-items: center;
  font-family:  "myFirstFont";
  font-size: 75%;
}

.next_question_button{
  color: rgba(32, 95, 141, 0.8);
  z-index: 1000;
  background: #F6C574;
  border-radius: 100%;
  height: 16vh;
  width: 16vh;
  transition:all 0.15s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family:  "myFirstFont";
  font-size: 100%;
  box-shadow: inset  0px 0px 0px  rgba(0, 0, 0, 0.2), 2px 3px 10px rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(32, 95, 141, 0.8);
    color: #F6C574;
    box-shadow: inset  0px 4px 10px  rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.2);
  }
}

.timeOrderNext {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 10vh;
  max-height: 200px;
}

button {
  border: none;
}

@media only screen and (max-width: 1200px) {
  .timeOrderNext {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: .7em;
  }

  .fullQuestion{
    font-size: .9em;
    padding: 1vw;
    max-width: 96vw;
    max-height: 25vh;
    background: transparent;
  }

  .graphQuestion {
    height: 250px;
    width: 80vw;
    max-width: 750px;
  }

  .graphImage {
    height:auto;
    width:100%;
  }
}

@media only screen and (max-width: 800px) {

}


@media only screen and (max-width: 800px) and (orientation: portrait) {
  .timeOrderNext {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: .7em;

  }
  .questionTitle{
    grid-column:1/-1;
    grid-row: 1/auto;
    margin-top: 0;
    max-height: 60vh;
    height: 55vh;
  }

  .fullQuestion {
    font-family:  "myFirstFont";
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: justify;
    font-size: 0.6em;
    height: 18vh;
    min-height: 17vh;
    max-height: 180px;
    max-width: 96vw;
    margin-bottom: 2vh;
    overflow: auto;
    background: transparent;
  }

  .graphQuestion {
    margin-top: 0;
    min-height: 20vh;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .graphImage {
    background: rgba(255,255,255,0.6);
    height: auto;
    max-height: 25vh;
  }


  .orderNumber {
    display: none;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .timeOrderNext {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: .5em;

  }
  .questionTitle{
    grid-column:1/-1;
    grid-row: 1/3;
    margin-top: 0;
    min-height: 45vh;
    max-width: 100vw;
  }

  .fullQuestion{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 5vh;
    font-size: .8em;
    padding: 1vw;
    background: transparent;
  }

  .graphQuestion{
    min-height: 37vh;
    max-width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answerOptions{
    font-size: .65em;
    margin: 1vw;
    min-height: 20vh;
    max-height: 25vh;
    div {
      padding: 1vh;
    }
  }
  .orderNumber {
    display: none;
  }
}
