$dark-gray: rgba(0,0,0,0.3);
$text-color: #F6C574;
$background: lighten(rgba(77, 127, 164,1),5%);

.circular-progressbar {
  width: 100%;

  svg {
    width: 100%;
  }

  :global(.CircularProgressbar) {
    width: 100%;

    :global(.CircularProgressbar-path) {
      transition: stroke-dashoffset 0.5s ease 0s;
      stroke: url('#gradient');
    }

    :global(.CircularProgressbar-trail) {
      stroke: $background;
    }

    :global(.CircularProgressbar-text) {
      transform: translatey(-4px);
      fill: $text-color;
      dominant-baseline: middle;
      text-anchor: middle;
      display: none;
    }

    :global(.CircularProgressbar-background) {
      fill: $dark-gray;
    }
  }

  line {
    stroke: $dark-gray;
    stroke-width: 0.5;
  }

  text {

  }

  .label {
    fill: $text-color;
    dominant-baseline: middle;
    text-anchor: middle;
  }
}

@media only screen and (max-width: 450px) {
  .circular-progressbar {

    .label {
      fill: $text-color;
      dominant-baseline: middle;
      text-anchor: middle;
    }
  }

}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .circular-progressbar {

    .label {
      font-size: 1.7em;
    }
  }
}
