$red: #FF2A47;
$orange:#FB5F21;
$blue-light: #1688CB;
$blue-dark: #244D68;
$yellow: #F3D42C;
$green: #18CFA2;
$grass-green: #A0D834;
$dark-gray: rgba(38, 50, 56, 0.3);
$torques:#6FD9D5;
$light-gray: #E2E8E7;

@font-face {
  font-family: myFirstFont;
  src: url(./../content/Avenir/AvenirLTStd-Roman.otf);
}


@media screen and (min-width: 801px) {
  .loginPage {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logoLogIn {
    height: 20vh;
    max-height: 135px;
    width: 90vw;
    max-width: 600px;
    margin-bottom: 80px;
  }

  .haveDoneAlready-link-big {
    font-size: .65rem;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: underline;
    cursor: pointer;
    color: $blue-dark;
    font-family: myFirstFont;
  }
  .haveDoneAlready-div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .doneCurp {
      min-width: 150px;
      min-height: 25px;
      border: 1px solid $blue-dark;
      color: rgba(77, 127, 164, 0.7);
      font-size: 13px;
      border-radius: 5px;
      font-family: myFirstFont;
      margin-bottom: 5px;
      &::placeholder {
        color: rgba(77, 127, 164, 0.6);
        font-size: 12px;
        font-family: myFirstFont;
      }
    }
    .haveDoneAlready-button {
      max-width: 70px;
      min-height: 25px;
      border: none;
      color: white;
      font-size: 13px;
      border-radius: 5px;
      margin-left: 5px;
      background-color: $blue-dark;
      font-family: myFirstFont;
    }
  }

  .loginDivFlex {
    display: grid;
    grid-template-rows: 20px 40px;
    grid-template-columns: 2fr .8fr 2fr 2fr 2fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    font-size: .7rem;
    border-radius: 5px;
    border: 2px solid $blue-dark;
    max-width: 1100px;
    font-family: myFirstFont;
    button {
      height: 100%;
      background: $blue-dark;
      color: white;
      cursor: pointer;
      grid-row: 1/-1;
      font-size: .75rem;
      font-family: myFirstFont;
    }
    div {
      grid-row: 1/-1;
      max-width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 80%;
      font-weight: bold;
      color: $blue-dark;
      border-right: 2px solid rgba(77, 127, 164, 0.3);
      padding-left: 5px;
      font-family: myFirstFont;
      font-size: .7rem;
      &:nth-child(7) {
        border-left: 2px solid rgba(77, 127, 164, 0.3);
      }
      &:nth-child(8) {
        border-right: none;
      }
      &:nth-child(10) {
        display: none;
      }
      label {
        width: 100%;
        text-align: left;
        height: 35%;
        font-family: myFirstFont;
      }
      select {
        width: 100%;
        min-height: 45%;
        border: none;
        background-color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; /* remove default arrow */
        background-image: url("./../content/icons/arrow-down.png");
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: .75rem;
        font-family: myFirstFont;
      }
      input {
        width: 100%;
        max-width: 150px;
        min-height: 45%;
        border: none;
        color: $blue-dark;
        font-size: .65rem;
        &::-ms-input-placeholder{
          color: rgba(77, 127, 164, 0.7);
          font-size: 10px;
          font-family: myFirstFont;
        }
        &:-ms-input-placeholder{
          color: rgba(77, 127, 164, 0.7);
          font-size: 10px;
          font-family: myFirstFont;
        }
        &::placeholder {
          color: rgba(77, 127, 164, 0.7);
          font-size: 10px;
          font-family: myFirstFont;
        }
      }
    }
  }

  .cityLabel {
    grid-row: 1/2;
    grid-column: 4/5;
    position: relative;
    top: 9px;
    left: 5px;
    display: flex;
    width: 100%;
    z-index: 1000;
    font-weight: bold;
    color: $blue-dark;
    font-size: .7rem;
  }

  .candidateInfoCity {
    width: 150px;
    grid-row: 2/-1;
    grid-column: 4/5;
    height: 80%;
    position: relative;
    z-index: 100;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: .65rem;
    border: none;
    padding-left: 5px;
    text-transform: capitalize;
    border-radius: 3px;
    color: lighten($blue-dark, 40%);
    font-family: myFirstFont;
    &::placeholder {
      color: rgba(77, 127, 164, 0.5);
      font-size: 10px;
      position: relative;
      bottom: 1px;
      font-family: myFirstFont;
      text-transform: none;
    }
  }

  .candidateInfoCitySpan {
    width: 150px;
    grid-row: 2/-1;
    grid-column: 4/5;
    height: 80%;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
    background-color: white;
    border: none;
    font-size: .7rem;
    border-radius: 3px;
    color: lighten($blue-dark, 40%);
    font-family: myFirstFont;
  }

  .selectColor {
    color: rgba(77, 127, 164, 0.5);
    font-size: 10px;
  }

  .selectedValue {
    font-size: .655rem;
    color: $blue-dark;
    position: relative;
    top: 2.5px;
  }

  .autoComplete {
    color: lighten($blue-dark, 10%);
  }

  .lastChildDiv {
    border-right: white;
  }
}


@media screen and (max-width: 800px) {
  /* start of large tablet styles */
  .loginPage {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logoLogIn {
    height: 100%;
    max-height: 30vh;
    width: 70vw;
    margin: 3vh;
  }

  .loginUiPage {
    background: RGBA(98, 142, 169, .9);
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 9000;
    .loginUiDiv {
      background: rgba(255,255,255,1);
      justify-content: center;
      align-items: center;
      width: 90vw;
      height: 90vh;
      max-width: 300px;
      max-height: 480px;
      z-index: 10000;
      border-radius: 15px;
    }
  }


  .loginDivFlex {
    display: grid;
    min-width: 100vw;
    max-width: 100vw;
    padding: 5vw;
    background: linear-gradient(150deg, $blue-dark ,rgba(71, 130, 169, 0.7));
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 3fr 1fr 2fr 3fr 3fr 3fr;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    border-radius: 0 25% 0 20%;
    font-family: myFirstFont;
    button {
      height: 35px;
      line-height: 35px;
      font-size: .9rem;
      font-family: myFirstFont;
      max-width: 84vw;
      border-radius: 5px;
      margin-top: 15px;
      margin-left: 3vw;
      background: lighten($blue-dark, 5%);
      color: white;
      cursor: pointer;
      box-shadow: inset 0px 2px 10px  rgba(255,255,255, 0.1), 0px 2px 10px rgba(255,255,255, 0.1), 0px 2px 10px rgba(255,255,255, 0.1);
      &:hover {
        background: lighten($blue-dark, 10%);
      }
    }
    div {
      width: 84vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 3vw;
      label {
        width: 90vw;
        text-align: left;
        padding-left: 5px;
        height: 15px;
        color: white;
        margin-top: 1vh;
        margin-left: 6vw;
      }
      select {
        width: 100%;
        border: none;
        background-color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; /* remove default arrow */
        background-image: url("./../content/icons/arrow-down.png");
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: .75rem;
        font-family: myFirstFont;
        height: 35px;
        line-height: 35px;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 2px;
      }
      input {
        width: 100%;
        border: none;
        color: $blue-dark;
        font-size: 15px;
        height: 35px;
        line-height: 35px;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 2px;
        font-family: myFirstFont;
        &::-ms-input-placeholder {
          color: rgba(77, 127, 164, 0.7);
          font-size: 12px;
          font-family: myFirstFont;
          height: 35px;
          line-height: 35px;
        }
        &:-ms-input-placeholder {
          color: rgba(77, 127, 164, 0.7);
          font-size: 12px;
          font-family: myFirstFont;
          height: 35px;
          line-height: 35px;
        }
        &::placeholder {
          color: rgba(77, 127, 164, 0.7);
          font-size: 12px;
          font-family: myFirstFont;
          height: 35px;
          line-height: 35px;
        }
      }
    }
  }
  .candidateInfoCity {
    width: 84vw;
    margin-left: 3vw;
    grid-row: 5/6;
    grid-column: 1/2;
    z-index: 100;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 15px;
    text-transform: capitalize;
    color: lighten($blue-dark, 40%);
    font-family: myFirstFont;
    border-radius: 5px;
    border: transparent;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    &::placeholder {
      color: rgba(77, 127, 164, 0.7);
      font-size: 12px;
      font-family: myFirstFont;
      text-transform: none;
      height: 35px;
      line-height: 35px;
    }
  }

  .candidateInfoCitySpan {
    width: 84vw;
    margin-left: 3vw;
    height: 35px;
    line-height: 35px;
    grid-row: 5/6;
    grid-column: 1/2;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    background-color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    color: lighten($blue-dark, 40%);
    font-family: myFirstFont;
  }
  .cityLabel {
    grid-row: 4/5;
    grid-column: 1/2;
    width: 84vw;
    text-align: left;
    padding-left: 5px;
    height: 15px;
    color: white;
    margin-top: 1vh;
    margin-left: 3vw;
    position: relative;
    top: 5px;
  }

  .selectColor {
    color: rgba(77, 127, 164, 0.7);
    font-size: 12px;
  }

  .selectedValue {
    font-size:  15px;
    color: $blue-dark;
    position: relative;
    top: 2.5px;
    padding-top: 2px;
  }

  .autoComplete {
    color: lighten($blue-dark, 10%);
  }

  .lastChildDiv {
    border-right: white;
  }
  .haveDoneAlready-link-big {
    display: none;
  }
  .haveDoneAlready-link-small {
    font-size: .7rem;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: underline;
    cursor: pointer;
    color: white;
    font-family: myFirstFont;
    padding: 10px;
  }

  .haveDoneAlready-div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .doneCurp {
      min-width: 150px;
      min-height: 25px;
      border: 1px solid lighten($blue-dark, 15%);
      color: rgba(77, 127, 164, 0.7);
      font-size: 13px;
      border-radius: 5px;
      font-family: myFirstFont;
      &::placeholder {
        color: rgba(77, 127, 164, 0.6);
        font-size: 12px;
        font-family: myFirstFont;
      }
    }
    .haveDoneAlready-button {
      max-width: 70px;
      min-height: 25px;
      border: none;
      color: white;
      font-size: 13px;
      border-radius: 5px;
      margin-left: 5px;
      background-color: lighten($blue-dark, 15%);
      font-family: myFirstFont;
    }
  }
}



