
.resultsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.resultsList {
  font-family: "myFirstFont";
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  align-items: center;
  max-width: 500px;
  width: 80vw;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  padding-left: 0;
  color: rgba(77, 127, 164,0.8);
  margin-bottom: 0;
  li {
    display: flex;
    list-style: none;
    margin-bottom: 1.8px;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 3vh;
    font-size: .9em;
    color: ghostwhite;
    border-radius: 4px;
    padding-top: 1px;
    &:nth-child(odd) {background: rgba(77, 127, 164,1)};
    &:nth-child(even) {background: rgba(77, 127, 164,0.8)};
        }
    span {
      text-align: justify;
      padding-left: 1.7vw;
    }
}

.pointsSpan{
  padding-right: 1vw;
}

#resultTotal {
  font-family: "myFirstFont";
  font-weight: 400;
  height: 13vh;
  width: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(77, 127, 164,1);
  border-radius: 100%;
  font-size: 1.3rem;
  color: whitesmoke;
}

.nextStageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 500px;
  height: 100%;
  max-height: 15vh;
  margin-bottom: 2vh;
  border-radius: 5px;
  background: rgba(77, 127, 164,0.8);
  div.secondStepButton{
    width: 60%;
    max-width: 400px;
    height: auto;
    max-height: 60%;
    color: white;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    button {
      background: rgba(77, 127, 164,1);
      border-radius: 2px;
      color: white;
      height: 30px;
      min-height: 30px;
      min-width: 60px;
      cursor: pointer;
    }
  }



  .secondStepButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
    height: 100%;
    color: white;
    font-size: .7rem;
    font-family: "myFirstFont";
    .congratulationsTop{
      color: white;
      font-size: 1rem;
      margin: 2%;
    }
    .congratulationsBottom{
      color: white;
      font-size: .7rem;
      margin: 2%;
    }
    button{
      margin: 2%;
      background: rgba(77, 127, 164,1);
      border-radius: 2px;
      color: white;
      height: 30px;
      min-height: 30px;
      min-width: 60px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .resultsList {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    li {
      height: 3vh;
      font-size: .7em;
      color: white;
      border-radius: 4px;
    }
  }

}