$redPastel: #BE4D4D;
$blue: rgba(77, 127, 164, 1);
$yellow: #F29F4E;
$pastel-green: #00B3A0;
$dark-gray: rgba(38, 50, 56, 0.3);

.progressPageDivs {
  .stageOneProgressInterview {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background: rgba(0,0,0,0.2) url("./../content/icons/quizcomputer.png") no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 50px;
    .quizCompletedDate{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: .7rem;
      grid-column: 1/-1;
      grid-row:16/18;
      color: white;
      margin: 0;
    }
    .resultDivInterview {
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 18/-1;
      color: white;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .9rem;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/7;
      font-size: 1.3rem;
      div{
        font-size: .8rem;
        color: rgba(255,255,255,0.5);
      }
    }
  }
  .stageTwoProgressInterview {
    width: 200px;
    height: 200px;
    display: grid;
    background: rgba(0,0,0,0.2) url("./../content/icons/questionsymbol.png") no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 58px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    .secondCompletedText{
      height: 100%;
      width: 100%;
      font-size: .7rem;
      grid-column: 1/-1;
      grid-row:16/18;
      color: white;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .secondCompletedResult{
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 18/-1;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .8rem;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/7;
      font-size: 1.3rem;
      div{
        font-size: .8rem;
        color: rgba(255,255,255,0.5);
      }
    }
    button{
      align-self: flex-end;
      justify-self: center;
      height: 38px;
      font-size: .9rem;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 19/-1;
      color: white;
      cursor: pointer;
    }
  }
  .stageTreeProgressInterview {
    width: 300px;
    height: 300px;
    background: $pastel-green url("./../content/icons/interview128.png") no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 100px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: .8rem;
      grid-column: 1/-1;
      grid-row: 16/-1;
      color: white;
      margin: 0;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      font-size: 1.7rem;
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/6;
      div{
        font-size: .8rem;
        color: rgba(255,255,255,0.5);
      }
    }
  }
  .stageFourProgressInterview {
    width: 200px;
    height: 200px;
    background: rgba(0,0,0,0.2) url("./../content/icons/training.png") no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 58px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height:100%;
      width: 100%;
      font-size: .8rem;
      grid-column: 1/-1;
      grid-row: 16/-1;
      color: white;
      margin: 0;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/7;
      font-size: 1.3rem;
      div{
        font-size: .8rem;
        color: rgba(255,255,255,0.5);
      }
    }
  }
}