$redPastel: #BE4D4D;
$blue: rgba(77, 127, 164, 1);
$azul: #6FD9D5;
$yellow: #F3D42C;
$yellow-light: lighten(#feea47, 5%);
$pastel-green: #00B3A0;
$dark-gray: rgba(38, 50, 56, 0.6);
$red-cla: #FF2A47;
$orange-cla: #fb6d31;
$blue-dark-cla:#1688CB;
$blue-azul-cla: #6FD9D5;
$yellow-claudio: #F3D42C;
$green-light-cla: #A0D834;
$blue-funky-cla: #18CFA2;
$smoke-white-cla: #E2E8E7;
$blue-dark-logo: #244D68;
$green-darker: darken($pastel-green,5%);
$green-lighter: RGBA(48, 175, 161, 0.70);
$linear-green: linear-gradient(150deg, $green-darker, $green-lighter);

  .progressPageDivs {
    .stageOneProgressSecond {
      width: 200px;
      height: 200px;
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(20, 1fr);
      background: rgba(0, 0, 0, 0.2) url("./../content/icons/quizcomputer128.png") no-repeat;
      background-position-y: center;
      background-position-x: center;
      background-size: 50px;
      .quizCompletedDate {
        height: 100%;
        width: 100%;
        font-size: .7rem;
        grid-column: 1/-1;
        grid-row:16/18;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
      .resultDivSecond {
        height: 100%;
        width: 100%;
        grid-column: 1/-1;
        grid-row: 18/-1;
        color: white;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 1.5rem;
        height: 100%;
        width: 100%;
        grid-column: 1/-1;
        grid-row: 1/9;
        div{
          font-size: .8rem;
          color: rgba(255,255,255,0.5);
        }
      }
    }
    .stageTwoProgressSecond {
      width: 90vw;
      min-width: 200px;
      max-width: 350px;
      min-height: 300px;
      height: 55vh;
      max-height: 350px;
      display: grid;
      background: $green-lighter url("./../content/icons/questionsymbol128.png") no-repeat;
      background-position-y: center;
      background-position-x: center;
      background-size: 100px;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(20, 1fr);
      .secondCompletedDiv {
        height: 100%;
        width: 100%;
        font-size: 1rem;
        grid-column: 1/-1;
        grid-row: 16/-1;
        line-height: 38px;
        .secondCompletedResult {
          height: 35px;
          width: 100%;
          font-size: 1rem;
          color: white;
          margin: 0;
        }
        .secondCompletedText {
          height: 30px;
          width: 100%;
          font-size: .8rem;
          color: white;
          margin: 0;
        }
      }

      section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 1.7rem;
        height: 100%;
        width: 100%;
        grid-column: 1/-1;
        grid-row: 1/7;
        div{
          font-size: .8rem;
          color: rgba(255,255,255,0.5);
        }
      }
      button {
        height: 80%;
        font-size: 1.5rem;
        width: auto;
        grid-column: 1/-1;
        grid-row: 17/-1;
        color: white;
        cursor: pointer;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0);
        margin-left: 30%;
        margin-right: 30%;
        border-radius: 10px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
    .stageTreeProgressSecond {
      width: 200px;
      height: 200px;
      background: rgba(0, 0, 0, 0.2) url("./../content/icons/interview64.png") no-repeat;
      background-position-y: center;
      background-position-x: center;
      background-size: 50px;
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(20, 1fr);
      p {
        height: 38px;
        width: 100%;
        font-size: .8rem;
        grid-column: 1/-1;
        grid-row: 16/-1;
        color: white;
        margin: 0;
      }
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 1.3rem;
        height: 100%;
        width: 100%;
        grid-column: 1/-1;
        grid-row: 1/9;
        div{
          font-size: .8rem;
          color: rgba(255,255,255,0.5);
        }
      }
    }
    .stageFourProgressSecond {
      width: 200px;
      height: 200px;
      background: rgba(0, 0, 0, 0.2) url("./../content/icons/training.png") no-repeat;
      background-position-y: center;
      background-position-x: center;
      background-size: 58px;
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(20, 1fr);
      p {
        height: 38px;
        width: 100%;
        font-size: .8rem;
        grid-column: 1/-1;
        grid-row: 16/-1;
        color: white;
        margin: 0;
      }
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 1.3rem;
        height: 100%;
        width: 100%;
        grid-column: 1/-1;
        grid-row: 1/9;
        div{
          font-size: .8rem;
          color: rgba(255,255,255,0.5);
        }
      }
    }
  }

