$redPastel: #fc5652;
$blue: rgba(77, 127, 164, 1);
$yellow: #F29F4E;
$pastel-green: #00B3A0;
$dark-gray: rgba(38, 50, 56, 0.6);


.progressPageDivs {
  .stageOneProgressQuiz {
    min-height: 300px;
    min-width: 300px;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background: $pastel-green url("./../content/icons/quizcomputer128.png") no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 100px;
    button {
      height: 80%;
      font-size: 1.5rem;
      width: auto;
      grid-column: 1/-1;
      grid-row: 17/-1;
      color: white;
      cursor: pointer;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0);
      margin-left: 30%;
      margin-right: 30%;
      border-radius: 10px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      font-size: 1.7rem;
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/6;
      div{
        font-size: .8rem;
        color: rgba(255,255,255,0.5);
      }
    }
    .resultsDiv{
      grid-column: 1/-1;
      grid-row: 17/-1;
      width: 100%;
      height: 100%;
      .resultDivResult {
        height: 40%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
      }
      .quizCompletedDateQuiz {
        height: 60%;
        width: 100%;
        font-size: .8rem;
        color: white;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .stageTwoProgressQuiz {
    min-height: 200px;
    min-width: 200px;
    width: 200px;
    height: 200px;
    display: grid;
    background: url("./../content/icons/questionsymbol.png");
    background-color: rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 58px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height:100%;
      width: 100%;
      font-size: .8rem;
      grid-column: 1/-1;
      grid-row: 16/-1;
      color: white;
      margin: 0;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      font-size: 1.3rem;
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/9;
      div{
        font-size: .8rem;
        color: rgba(255,255,255,0.5);
      }
    }
  }
  .stageTreeProgressQuiz {
    min-height: 200px;
    min-width: 200px;
    width: 200px;
    height: 200px;
    background: url("./../content/icons/interview64.png");
    background-color: rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 50px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height:100%;
      width: 100%;
      font-size: .8rem;
      grid-column: 1/-1;
      grid-row: 16/-1;
      color: white;
      margin: 0;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      font-size: 1.3rem;
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/9;
      div{
        font-size: .8rem;
        color: rgba(255,255,255,0.5);
      }
    }
  }
  .stageFourProgressQuiz {
    min-height: 200px;
    min-width: 200px;
    width: 200px;
    height: 200px;
    background: url("./../content/icons/training.png");
    background-color: rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 60px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height:100%;
      width: 100%;
      font-size: .8rem;
      grid-column: 1/-1;
      grid-row: 16/-1;
      color: white;
      margin: 0;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      font-size: 1.3rem;
      height: 100%;
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/9;
      div{
        font-size: .8rem;
        color: rgba(255,255,255,0.5);
      }
    }
  }
}

.thankYouPage {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(77, 127, 164, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .tryAgainInTwoMonths{
    position: absolute;
    width: 60vw;
    height: 40vh;
    max-width: 800px;
    max-height: 500px;
    background: white;
    z-index: 2000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .twoMonthsText {
      width: 80%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    button {
      background: #4d7fa4;
      color: white;
      width: 100px;
      height: 40px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .thankYouPage {
    position: absolute;
    min-width: 100%;
    min-height: 200%;
    align-items: flex-start;
    .tryAgainInTwoMonths {
      width: 80vw;
      margin-top: 40vh;
    }
  }
}

