

.allAnswersPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  position: absolute;
  z-index: 100000000000;
  ul.allAnswersResultList{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
    overflow: auto;
    padding-top: 10px;
    border-radius: 10px;
    div.allAnswersElements {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      height: 100%;
      div.allAnswersElements-question {
        height: 100%;
        max-width: 80%;
        overflow: auto;
        font-size: .65rem;
      }
    }
  }
}

