.candidatesInfo {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5px;
  font-size: .72rem;
  span {
    overflow: auto;
    background: lighten(#6b98b9,5%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    &:nth-child(1) {
      border-radius: 5px 0 0 0;
    }
    &:nth-child(3) {
      border-radius:  0  5px 0 0;
    }
    &:nth-child(4) {
      border-radius:  0  0 0 5px;
    }
    &:nth-child(6) {
      border-radius:  0  0 5px 0;
      font-size: .45rem;
    }
  }
}


