$redPastel: #BE4D4D;
$dark-gray: rgba(38, 50, 56, 0.3);
$text-color: #F29F4E;
$text-dark: rgba(77, 127, 164, 1);
$background: rgba(77, 127, 164, 1);
$background-lighter: rgba(77, 127, 164, 0.4);
$pastel-green: #00B3A0;

.spanHl{
  background: lighten(#4d7fa4, 10%);
  color: white;
}

.candidatesResultsPage{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.candidatesList{
  width: 100vw;
  max-width: 1200px;
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 7vh;
  padding-left: 0px;
}

.generalInfo {
  width: 100vw;
  max-width: 1200px;
  height: 7vh;
  min-height: 40px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "myFirstFont";
  font-size: 100%;
  background: #6b98b9;
  border-radius: 0 0 5px 5px;
  color: white;
  padding: 0 15px;
  > span {
    width: 10%;
  }
  > input {
    width: 150px;
    height: 30px;
    border-radius:5px;
    border: none;
    color: lighten(#4d7fa4, 10%);
  }
  > select {
    width: 150px;
    height: 30px;
    border-radius:5px;
    border: none;
    color: lighten(#4d7fa4, 20%);
  }
}

.candidateDiv {
  border: 2px solid lighten(#6b98b9, 5%);
  font-family: "myFirstFont";
  border-radius: 5px;
  margin-bottom: 5px;
}

.candidatesElement {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  line-height: 30px;
  font-family: "myFirstFont";
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
  .candidateImageImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 2px;
  }
  .candidateName {
    width: 30%;
    max-width: 200px;
    z-index: -2;
    cursor: none;
  }
  .candidateTotal {
    width: 10%;
    max-width: 50px;
    border-radius: 5px;
    z-index: -2;
    cursor: none;
  }
  .candidateDate {
    width: 15%;
    max-width: 150px;
    z-index: -2;
    cursor: none;
    font-size: .9rem;
    line-height: 20px;
  }
  .invitedForInterview-span {
    height: 100%;
    width: auto;
    max-width: 210px;
    min-width: 190px;
    z-index: 10;
    background: transparent;
    font-size: .75rem;
    color: #5B8BAC;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 17px;
    .invitedForInterview-span__interview{
      height: 25px;
      width: 90px;
      z-index: -1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      &:hover {
        background: lighten(#4d7fa4, 10%);
        color: white;
      }
    }
    .invitedForInterview-span__date {
      font-size: .60rem;
      z-index: -1;
    }

    }
  .candidateEmail {
    width: 20%;
    font-size: .9rem;
    z-index: 1;
    a {
      color: #4d7fa4;
      cursor: pointer;
    }
  }
  .secondStageInfo {
    z-index: -2;
    width: 10%;
    display: inline-flex;
    justify-content: flex-start;
    span {
      color: white;
      padding: 5px;
      cursor: none;
      display: inline-flex;
      justify-content: flex-start;
      &:nth-child(1) {
        min-width: 25%;
      }
      &:nth-child(2) {
      }
    }
  }
}






