.secondAnswer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
}

.secondStageAnswers {
  font-size: .7rem;
  background: lighten(#6b98b9,5%);
  border-radius: 5px;
  padding:3px;
  height: 100%;
  margin: 0 10px;
  .secondStageAnswersTop {
    display: flex;
    > div{
      max-width: 50%;
      margin: 3px;
      background: lighten(#6b98b9,10%);
    }
    .secondAnswer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  .secondAnswerFull {
    background: lighten(#6b98b9,10%);
    border-radius: 2px;
    font-size: .8rem;
    margin: 3px;
  }
}
.riddleAnswer{
  width: 100%;
}
