.commentFromCandidate {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: .7rem;
  background: lighten(#6b98b9,10%);
  color: white;
  line-height: 25px;
}