.allHidden {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0px;
  justify-content: space-between;
  align-items: flex-start;
  background: #6b98b9;
  color: white;
  padding: 10px 0;
  > div{
    width: 33%;
  }

}