.ourComment {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: .7em;
  text-align: justify;
  height: 100%;
  margin-right: 5px;
  .commentDiv {
    width: 100%;
    height: 100%;
    background: lighten(#6b98b9, 5%);
    border-radius: 5px;
    padding: 5px;
    .commentText {
      width: 90%;
      margin-left: 5%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background: lighten(#6b98b9, 10%);
      height: auto;
      border-radius: 5px;
      line-height: 25px;
    }
  }
}

.ourCommentInput{
  width:60%;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 5%;
  border-radius: 5px;
  border: 1px solid #6b98b9;
  color: #4d7fa4;
  height: 25px;
}

.submitOurComment {
  border-radius: 5px;
  border: 1px solid #6b98b9;
  background: #4d7fa4;
  color: white;
  width: 25%;
  margin-left: 5%;
  height: 25px;
}