.candidateQuestion {
  display: grid;
  grid-template-columns: 40% 10% 10% 10% 10% 10% 10%;
  width: 100%;
  height: auto;
  font-size: .7rem;
  justify-content: flex-start;
  color: white;
  line-height: 25px;
  .QuestionCandidate {
    width: 100%;
    max-height: 30px;
    overflow: auto;
    grid-column: 1/2;
  }
  span {
    line-height: 30px;
    width: 100%;
    background: lighten(#6b98b9,5%);
  }
}